@font-face {
    font-family: BebasNeue;
    src: url("fonts/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: RobotoCondensed;
    src: url("fonts/RobotoCondensed-Regular.ttf");
}


html {
    font-family: RobotoCondensed;
    color: white;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

section {
    height: 1024px;
}

img {
    width: auto;
    height: 606px;
    border-radius: 22px;
}

#marx {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5);
}

.hero {
    margin: 0;
    display: flex;
    background-size: cover;
    background-image: url("media/hero.webp");
    justify-content: center;
    align-items: center;
}

.hero h1{
    color: white;
    margin: 0 60px 0 60px;
    text-align: center;
    text-shadow: 5px 5px 4px black;
    font-family: BebasNeue;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

div.background {
    margin: 0 147px 0 147px;
}

.content-1 {
    padding-top: 100px;
    background-image: linear-gradient(45deg, #000351 0%, #2f2a32 59%);
    height: auto;
}

.content-1 h1 {
    margin: 0;
    width: 730px;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-1 h4 {
    margin: 12px 0 12px 0;
    width: 438px;
    height: 50px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

article {
    border-left: 4px solid #0074D9;
    padding-left: 16px;
}

.content-1 article p{
    margin: 0;
    display: flex;
    width: 658px;
    font-size: 24px;
    font-style: italic;
    font-weight: 100;
    line-height: 33px;
    text-indent: 40px;
    margin-top: 8px;
}

div.container{
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content-2 {
    height: auto;
    padding-bottom: 40px;
}

.content-2 header{
    font-size: 3rem;
    margin: 2rem 0;
    text-transform: capitalize;
    color: #2b2b2b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: .2rem;
    text-align: center;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.5)
}

.video-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    transition: all .3s;
}

.video-container .video{
    transition: all .3s;
    height: 16rem;
    width: 26rem;
    margin: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5);
    overflow: hidden;
    border-radius: 1rem;
}

.video-container .video iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-container .video:hover{
    transform: scale(1.1);
    transition: all .4s;
}

.video-container #big{
    width: 1000px;
    height: 600px;
}

footer {
    margin: 0;
    min-height: 400px;
    background-image: linear-gradient(45deg, #000351 0%, #2f2a32 59%);
}



footer .background{
    display: flex;
    justify-content:space-evenly;
}

footer .background div{
    width: 352px;
}


footer .background h1{
    position: relative;
    top: 40px;
    width: 120px;
    margin: 0;
}

footer .background ul {
    padding: 40px 0 80px 20px;
    margin: 0;
    width: 300px;
}

footer .background ul li {
    margin: 17px 0;
}

.background .sobre {
    width: 432px;
}

footer a {
    color: white;
    text-decoration: none;
    position: relative;
}

footer a::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #0074D9;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}



.sobre p{
    margin: 0;
    padding: 57px 0 80px 0;
    line-height: 24px;
    text-indent: 38px;
}

@media (hover: hover) and (pointer: fine) {
  a:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

.alunos {
    padding-left: 20px;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home ul li{
    list-style: none;
}

.home a{
    font-size: 30px;
}
